body {
  overflow: hidden;
}

div.control_panel {
  display: flex;
  position: absolute;
  width: 20%;
  height: 20%;
}

div.body {
  width: 98%;
  height: 100%;
}

div.close {
  background: #4e4e4ea3;
  height: 100%;
  width: 2%;
}

div.input_row {
  display: flex;
  height: 18%;
  background: #d9d9d97e;
  padding: 0.6%;
}

input[type=range]{
  width: 75%;
}

input[type=number]{
  width: 17%;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
}

button {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
}

canvas {
  width: 100vw;
  height: 100vh;
}
